!client
!docker
!server
!requirements-tuner.txt
!knob_catalog.json
!ottertune_tuner.py
!generate_knob_catalog.py
!Dockerfile
server/website/celerybeat-schedule*
server/website/log
server/website/*.pid
server/website/debug_*.tar.gz
server/website/session_knobs.json
server/website/dump_website.json
server/website/script
server/website/website/settings/*credentials.py
**/.git*
**/*.swp
**/*.swo
**/*~
**/*.pyc
**/*.log
**/*.bak
**/.DS_Store
**/__pycache__
